# Radarr && Sonarr
VITE_RADARR_BASE_URL=
VITE_RADARR_API_KEY=
VITE_SONARR_BASE_URL=
VITE_SONARR_API_KEY=

# IMDB
VITE_IMDB_BASE_URL=
VITE_IMDB_API_KEY=

# Flix
VITE_SYSTEM_STORAGE_SPACE_TRESHOLD=90

# Docker
APP_PORT=3050
