# Radarr && Sonarr
VITE_RADARR_BASE_URL=
VITE_RADARR_API_KEY=
VITE_SONARR_BASE_URL=
VITE_SONARR_API_KEY=

# Flix Api
VITE_FLIX_API_USE=false
VITE_FLIX_API_URL=

# TMDB
VITE_TMDB_BASE_URL=
VITE_TMDB_API_KEY=

# Flix
VITE_SYSTEM_STORAGE_SPACE_TRESHOLD=90
VITE_CRYPT_KEY=

# Docker
APP_PORT=3050
